:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
    height: 100vh;
}

body, #root {
    height: 100%;
}

main {
    @apply h-full
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.body-tw {
    @apply bg-backgroundColor font-mainFont font-light
}

.round-button {
    @apply bg-darkColor h-10 w-auto 
    rounded-3xl pl-4 pr-4 
    text-textAlterColor font-extralight
    m-2

    /* transition-transform transform
    active:scale-95 transition-shadow */
    
    hover:bg-blueColor hover:shadow-lg 
    hover:scale-110
}

.red-button {
    @apply bg-redColor
}

.h1-heading {
    @apply font-mainFont text-2xl pb-4
}

.h1-heading-v2 {
    @apply text-xl pr-4
}

.padded-main {
    @apply flex flex-col justify-center items-center pb-60
}

.normal-main {
    @apply flex flex-col p-4 w-full
}

.red-link {
    @apply text-blueColor hover:text-redColor
}

/* MODALS */

.auth-modal {
    @apply h-[500px] w-[400px] rounded-2xl
    bg-blueLight p-6
}

.auth-modal-login {
    @apply h-[360px]
}

.auth-modal-back {
    @apply bg-opacity-50
    fixed inset-0 bg-darkColor 
    flex justify-center items-center 
    z-50
}